* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

input {
  border: none;
}

ul,
li,
a {
  text-decoration: none;
  display: inline;
}
a {
  color: white;
}

li {
  padding: 19px;
  font-size: 13px;
  cursor: pointer;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 160px;
  background-color: black;
  color: aliceblue;
  height: 72px;
  z-index: 1;
  text-transform: uppercase;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 83px;
  height: 30px;
  margin-right: 15px;
}
span {
  color: #e03030;
  font-weight: 600;
}
.nright button {
  padding: 8px;
  background-color: white;
  color: black;
  border: 1px solid white;
  min-height: 27px;
  min-width: 60px;
  font-weight: bolder;
  border-radius: 8px;
  cursor: pointer;
}

li:hover {
  color: rgb(221, 221, 221);
}
.nright button:hover {
  background-color: rgb(227, 227, 227);
}
button a {
  color: black;
}

.bgPhoto {
  background-image: url(imgAbout/cover4_photo.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  max-width: 100%;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-content {
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  backdrop-filter: blur(8px);
  width: 900px;
  height: 300px;
  border: 1px solid white;
  border-radius: 50px;
}

.bgPhoto h1 {
  font-weight: bolder;
  text-transform: uppercase;
  box-shadow: inset;
  color: white;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.bgPhoto h1 span {
  color: red;
}

.bgPhoto-blockquote {
  margin-top: 20px;
  color: white;
  text-shadow: 0.5px 0.5px 0.5px rgb(0, 0, 0);
}

.bgPhoto img {
  margin-top: 60px;
  margin-bottom: 10px;
  width: 200px;
  height: 50px;
}

.about-content {
  display: flex;
  margin: 20px 100px 30px 100px;
}

.about-content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-content-text span {
  margin-top: 60px;
  padding: 10px;
  font-size: 25px;
  font-weight: 500;
}

.about-content-text h1 {
  color: rgb(79, 79, 79);
  padding: 0px 10px 10px 10px;
  font-size: 60px;
}

.about-content-text p {
  padding: 10px;
  text-align: center;
  margin: 5px 30px 0px 30px;
  color: rgb(75, 75, 75);
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 1px;
}

.about-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  margin-bottom: 20px;
}

.about-image-img {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 30px 10px 30px 10px;
}

.about-image-img img {
  width: 360px;
  height: 450px;
}

#about-image-2 img {
  margin-top: 100px;
}

.bg-contact {
  background-image: url(imgAbout/alberti3_about.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  max-width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
}

.bg-contact-us {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
}

.bg-contact-us h1 {
  color: white;
  font-weight: lighter;
}

.bg-contact-us .contact-button{
  margin: 0px 0px 0px 20px;
  border: none;
  border: 1px solid rgb(217, 51, 0);
  border-radius: 5px;
  padding: 15px;;
  background-color: rgb(217, 51, 0);
  cursor: pointer;
}

.bg-contact-us .contact-button a{
  color: white;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

.footer-a a {
  color: white;
  text-transform: uppercase;
  padding: 20px;
}

footer img {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 300px;
  height: 80px;
}

.copyright p {
  text-align: center;
  color: white;
  padding: 20px;
  margin-top: 30px;
  font-size: 12px;
}
